<div class="container-fluid w-100 p-0">
  <div class="card bg-dark text-white">
    <img class="card-img" src="https://www.muralswallpaper.co.uk/app/uploads/textured-white-marble-textures-plain-820x532.jpg" alt="Marble Background">
    <div class="card-img-overlay">
      <h5 class="card-title">About Us</h5>
      <p class="card-text">We believe luxury should be accessible, fun, and part of your everyday. Our inspiration comes from you; real, smart, mindful women. We work with top jewelers, who commit to exceptional craftsmanship and ethical practices, to produce quality essentials. We free ourselves from middlemen and sell directly to you, so, we can provide fine jewelry at a fraction of the price. It is our mission to have women embrace a daily dose of luxury. </p>
    </div>
  </div>
</div>