<div class="container-fluid w-100 p-0">
  <div class="card bg-dark text-white">
    <img class="card-img" src="https://www.muralswallpaper.co.uk/app/uploads/textured-white-marble-textures-plain-820x532.jpg" alt="Marble Background">
    <div class="card-img-overlay d-flex justify-content-center">
      <div class="container">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8">
            <p class="card-text bg-light"><strong>Our Materials</strong><br>We only work with high quality, enduring materials, from precious metals to chains, set with select and genuine gemstones and ethically sourced diamonds. So, you can wear our products every day, and forever. We also have a few tips and tricks you can use to keep your piece looking brand new.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>