// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container.cart {
  margin-top: 20vh;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #686a6d;
}