
// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#jewelry-types {
  margin: 20vh;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #686a6d;

.container-fluid.show-products {
  margin-top: 30vh;
  font-family: 'Lato', sans-serif;
}

.show-products p{
  font-family: 'Lato', sans-serif;
}