/* HOMEPAGE */

.carousel-item img {
  width:100%;
  height:100vh;
}

.carousel-caption.cover {
  font-family: 'Lato', sans-serif;
  position: absolute;
  height: 60vh;
}

.carousel-caption h5 {
  font-size: 3rem;
  font-weight: 900;
}