<div class="container transactions">
  <div class="row">
    <div class="col-md-12">
      <h2>Payment</h2>
        <%= form_tag order_transactions_path(@order) do%>
          <p>Please enter your payment details:</p>
          <div id="dropin"></div>
          <%= submit_tag "Pay #{current_user.total_cart_value}$" %>
        <%end%>
    </div>
  </div>
</div>
